<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

<bean id="m1" class="com.sp.Message" init-method="apeksha" destroy-method="byeApeksha">
	<property name="msg" value="Hello Apeksha......"></property>
</bean>
<bean id="p1" class="com.sp.Person">
	<property name="pid" value="123"></property>
	<property name="pname" value="Apeksha"></property>
	<property name="city" value="Ahmedabad"></property>
	
</bean>

<bean id="cb1" class="com.sp.CustomerBean">
	<property name="lists" >
		<list>
			<value>1</value>
			<bean id="p2" class="com.sp.Person">
	<property name="pid" value="456"></property>
	<property name="pname" value="Donn"></property>
	<property name="city" value="Ahmedanad"></property>
	
	</bean>
	<ref bean="p1"/>
	<ref bean="p1"/>
			
		</list>
	</property>
	



	<property name="sets" >
		<set>
			<value>1</value>
			<bean id="p3" class="com.sp.Person">
	<property name="pid" value="456"></property>
	<property name="pname" value="Donn"></property>
	<property name="city" value="Ahmedanad"></property>
	
	</bean>
	<ref bean="p1"/>
	<ref bean="p1"/>
			
		</set>
	</property>
	
</bean>
<!-- Autowired by name for id must be same which is used in person class -->
 <bean id="phone" class="com.sp2.Phone">
	<property name="pno" value="1234567890"></property>

</bean> 

<bean id="pr1" class="com.sp2.Person" autowire="byName">
	<property name="pname" value="Apeksha"></property>

</bean> 
</beans>
